<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MyDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sampleinventory.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="sampleinventoryEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sampleinventory;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FinishedGoodManagement.Properties.Settings.inv_itpConnectionString"
      connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=inv_itp"
      providerName="MySql.Data.MySqlClient" />
    <add name="FinishedGoodManagement.Properties.Settings.inv_itpConnectionString1"
      connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=inv_itp"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>


 