<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinanceManagement.Properties.Settings.teemahConnectionString"
            connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=teemah"
            providerName="MySql.Data.MySqlClient" />
        <add name="FinanceManagement.Properties.Settings.teemahConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=teemah"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
      
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>