<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Explorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Explorer.Properties.Settings.ConnectionString" connectionString="server=localhost;database=itp;user id=root;connectiontimeout=2147483"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Explorer.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>Enterprise Resource Planner - Teemah</value>
            </setting>
            <setting name="ThemeBackColor" serializeAs="String">
                <value>33, 33, 33</value>
            </setting>
            <setting name="ThemeForeColor" serializeAs="String">
                <value>White</value>
            </setting>
        </Explorer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Explorer.Properties.Settings>
            <setting name="menuStripDock" serializeAs="String">
                <value />
            </setting>
            <setting name="menuDockMode" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="NavigatorVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NavigatorHeadingBackColor" serializeAs="String">
                <value>34, 49, 63</value>
            </setting>
        </Explorer.Properties.Settings>
    </userSettings>
</configuration>